<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<th:block th:insert="fragments/base.html :: head"></th:block>

<link th:href="@{/css/formStyle.css}" rel="stylesheet"
	href="../../static/css/formStyle.css">
	<style type="text/css">
		input[type="submit"]{
			margin: 15px;
		}
	</style>
</head>
<body>
	
	<form th:action="@{'~/projects/'+${project.id}+'/tasks/'+${task.id}+'/tags/add'}"
		method="POST" id="tagToTaskForm" th:object="${task}">
	<ul>
		<li th:each="tag : ${allTags}" style="margin-bottom: 15px;">
	  		<input type="checkbox" name="roles"
            th:value="${tag.id}"
            th:field="*{tags}"
            th:style="'color:' + ${tag.color}"
        />
        <a th:text="${tag.name}" th:style="'color:' + ${tag.color} + ';font-size: 20px'"></a>
		</li>
	</ul>
	  <input type="submit" value="Submit">
	</form>
	
	<footer th:replace="fragments/base.html :: pagesFooter"></footer>
</body>
</html>