* {
  box-sizing: border-box;
}

div.taskListItem{
	border: 2px;
	border-color: olive;
	background-color: aqua;
	border-style: groove;
}

div.taskListItem *{
	margin: 1em;
}

div.bottoniCommenti{
	width: 50%;
	align-content: flex-end;
	align-items: flex-end;
	align-self: flex-end;
}

.column {
  float: left;
  padding: 10px;
}

.column.left {
	width: 85%;
}

.column.right {
	width: 15%;
}

h2.nomeTask{
	color: gray;
	
}

.row:after {
  content: "";
  display: table;
  clear: both;
}


textarea{
	resize: none;
	width: 100%;
}

ul{
	list-style-type: none;
 	margin: 0;
 	 padding: 0;
}

ul.commenti{
  list-style-type: none;
}