<!DOCTYPE html>
<html lang="en"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="https://www.thymeleaf.org">
<head th:replace = "fragments/base.html :: head">
</head>
<body>
	<h1>All Users:</h1>
	<div>
		<table class="table table-hover">
			<thead>
			<tr>
				<th>Username</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Delete</th>
			</tr>
			</thead>
			<tbody>
			<tr th:each ="credentials : ${allCredentials}">
				<td th:text="${credentials.username}"></td>
				<td th:text="${credentials.user.firstname}"></td>
				<td th:text="${credentials.user.lastname}""></td>
				<td>
					<form method="POST" th:action="@{/admin/users/{username}/delete(username=${credentials.username})}">
						<button type="submit" name="submit" value="value">DELETE</button>
					</form>
			</tbody>
			
		</table>
		
		<footer th:replace = "fragments/base.html :: pagesFooter"></footer>
	</div>
</body>
</html>