<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<th:block th:insert="fragments/base.html :: head"></th:block>
	<link th:href="@{/css/formStyle.css}" rel="stylesheet">
</head>
<body>
	<h1 align="center" class="formTitle">Edit Profile</h1>

	<form th:action="@{/users/modify}" method="POST">


		<div align="center">
			<label class="formLabel">Nickname: </label>
		</div>
		<div align="center">
			<input type="text" required th:field="${userForm.nickname}" /> <span
				th:if="${#fields.hasErrors('userForm.nickname')}"
				th:errors="${userForm.nickname}" th:style="'color:red'"></span>
		</div>


		<div align="center">
			<label class="formLabel">First Name: </label>
		</div>
		<div align="center">
			<input type="text" required th:field="${userForm.firstname}" /> <span
				th:if="${#fields.hasErrors('userForm.firstname')}"
				th:errors="${userForm.firstname}" th:style="'color:red'"></span>
		</div>


		<div align="center">
			<label class="formLabel">Last Name: </label>
		</div>
		<div align="center">
			<input type="text" required th:field="${userForm.lastname}" /> <span
				th:if="${#fields.hasErrors('userForm.lastname')}"
				th:errors="${userForm.lastname}" th:style="'color:red'"></span>
		</div>


		<div align="center">
			<input type="submit" name="submit" value="Edit" />
		</div>
	</form>
	<footer th:replace="fragments/base.html :: pagesFooter"></footer>

</body>

</html>