<!DOCTYPE html>
<html lang="en"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="https://www.thymeleaf.org">
<head th:replace = "fragments/base.html :: head">
	<title>TaskManager</title>
</head>
<body>
<h1>Your Profile</h1>
	<table>
		<tr><td>Username</td><td th:text="${credentials.username}"></td></tr>
		<tr><td>First Name</td><td th:text="${loggedUser.firstname}"></td></tr>
		<tr><td>Last Name</td><td th:text="${loggedUser.lastname}"></td></tr>
		<tr><td>Role</td><td th:text="${credentials.role}"></td></tr>
		<tr><td>Registered at:</td><td th:text="${loggedUser.creationTimestamp}"></td></tr>
		<tr><td>Last Update at:</td><td th:text="${loggedUser.lastUpdateTimestamp}"></td></tr>
	</table>
	<footer th:replace = "fragments/base.html :: pagesFooter"></footer>
</body>
</html>