<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	th:fragment="formProject(operazione)">
<head>
<th:block th:insert="fragments/base.html :: head"></th:block>
<link rel="stylesheet" type="text/css" th:href="@{/css/formStyle.css}">
</head>
<body>
	<h1 align="center" class="formTitle">Register new Project</h1>
	<form id="registerProjectForm" th:action="@{'/projects/'+${operazione}}"
		method="POST" th:object="${projectForm}">


		<div align="center">
			<label class="formLabel" for="projectNameInput">Project Name</label>
		</div>
		<div align="center">
			<input id=projectNameInput type="text" placeholder="NAME" required
				th:field="*{name}" /> <span th:if="${#fields.hasErrors('name')}"
				th:errors="*{name}" th:style="'color:red'"></span>
		</div>


		<div align="center">
			<label class="formLabel" for="descriptionArea">Description</label><span
				th:if="${#fields.hasErrors('description')}"
				th:errors="*{description}" th:style="'color:red'"></span>
		</div>
		<div align="center">
			<textarea id="descriptionArea" th:field="*{description}"
				form="registerProjectForm" wrap="hard" rows="10" maxlength="100"></textarea>
		</div>


		<div align="center">
			<input type="submit" value="Confirm">
		</div>


	</form>

	<footer th:replace="fragments/base.html :: pagesFooter"> </footer>
</body>
</html>